:root {
  /* white color */
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./wood-background.jpg');
  background-size: cover;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  color: var(--color-white);
}

.intro {
  background-position: center;
  min-height: 50vh;
}

.title {
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-items: center;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* font-weight: bold; */
}

.landing-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

button {
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


.nav-bar > img {
  max-width: 100px;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 10px;
  opacity: 0.8;
}

footer > a {
  text-decoration: none;
  color: var(--color-white);
  padding: 0.5rem;
}

/* media query for desktop */
@media (min-width: 992px) {
  .about {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .description {
    font-size: 1.2rem;
    text-align: center;
  }
  .description {
    width: 50%;
    font-size: 3rem;
  }
}

@media (min-width: 688px) and (max-width: 992px) {
  .landing-info {
    flex-direction: column-reverse;
  }
  .landing-info > img {
    max-width: 300px;
    margin-top: 40px;
  }
  .about {
    font-size: 3rem;
    padding: 20px;
  }
  .description {
    width: 70%;
    font-size: 2rem;
  }
}

@media (max-width: 687px) {

  .links {
    grid-gap: none;
    font-size: 1.5rem;
  }
  .landing-info {
    flex-direction: column;
  }
  .landing-info > img {
    max-width: 240px;
    margin-top: 40px;
  }
  .about {
    font-size: 2.5rem;
    padding: 20px;
  }
  .description {
    width: 70%;
    font-size: 1.5rem;
  }
}